a:visited {color: black; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size: 11px}
a {color: navy; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size: 11px;}
a:hover {color: #FF0000; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;	}
p {font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;color : #414141; line-height: 20px; text-align: justify;font-size: 13px;}
.atitle {font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:12pt;}
li {font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:10pt;list-style-type: square; ; color: #414141}
td  {font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;color : #414141; font-size: 14px;}
h1  {font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;	color : #800000; font-weight: bold; font-size: 16px;}
img {border: 3x solid #cccccc; border-radius: 4px; padding: 5px;}